<!DOCTYPE html>
<html>
<head>
  <title>MeetupApp</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Lato:300|Raleway:300|Roboto:300,400|Work+Sans:300,400" rel="stylesheet">

</head>
  <div id="navi"></div>
    <div id="meetuptitle">
      {{#if user}}
        <h4 class="apptitle">Welcome, {{user.name}}!</h4>
      {{else}}
        <a href="/users/login"><h4 class="apptitle">MeetupApp</h4></a>
      {{/if}}
    </div>
    <div class="navcontainer">
      <nav>
        <ul class="nav">
          {{#if user}}
            <li class="nav-item dropdown">
              <a class="nav-link" href="/profile" class="dropbtn">My Profile</a>
              <div class="dropdown-content">
                <a class="nav-link" href="/catchup">Catch-ups</a>
                <a class="nav-link" href="/studydate">Study Dates</a>
                <a class="nav-link" href="/businessmeeting">Business</a>
                <a class="nav-link" href="/clubmeeting">Club</a>
                <a class="nav-link" href="/party">Parties</a>
                <a class="nav-link" href="/other">Other</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/createMeetup">New</a></li>
            <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="/users" class="dropbtn">Connect</a>
              <div class="dropdown-content">
                <a class="nav-link" href="/users">All Users</a>
                <a class="nav-link" href="/friendrequests">Requests</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="/users/logout">Logout</a></li>
          {{else}}
            {{#if register}}
              <li class="nav-item"><a class="nav-link" href="/users/login#loginpage">Login</a></li>
            {{else}}
              <li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
            {{/if}}
          {{/if}}
        </ul>
      </nav>
    </div>
  <div class="homecontainer">
    <div class="row">
      <div class="col-lg-12">
        {{#if success_msg}}
          <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}
        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        {{{body}}}
      </div>
    </div>
  </div> <!-- /container -->

</html>