<head>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en&key=AIzaSyB4Ztm5h7pIWU2NmEqbwJbjsWfIZebzN1I"><{{!}}/script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"><{{!}}/script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"><{{!}}/script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><{{!}}/script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"><{{!}}/script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"><{{!}}/script>
<script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"><{{!}}/script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
<div class="animate-in">
    <div class="notebookbg"></div>
        <h1 class="pagetitles" style="color:white;">Create Meetup</h1><hr>
            <div class="form">
                <form method="post">
	                <label>Name</label>
	                   <input class="form-control" type="text" name="meetupName" placeholder="Meetup Name">
	                <label>Participants</label>
                        <button type="button" class="formbutton" data-toggle="modal" data-target="#myModal">Find Users</button><br>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <h3 class="modal-title" style="text-align:left;">Add Participants</h3>
                              </div>
                              <div class="modal-body">
                                    <h4 class="pagetitles">Friends</h4>
                                        {{#if friendslist}}
                                        {{#each friendslist}}
                                            <div class="meetup" style="display:flex; align-items:center;margin-bottom:1px;">
                                                <div style="display:flex; align-items:center;width:20%">
                                                    <div class="thumbnail">
                                                        <a href="profile/{{this.id}}/">
                                                        {{#if this.profilepic}}
                                                            <img src="/uploads/{{ this.profilepic }}">
                                                        {{else}}
                                                            <img src="/css/empty-photo.jpg">
                                                        {{/if}}
                                                        </a>
                                                    </div>
                                                    <a href="/profile/{{this.id}}/">{{name}}</a>
                                                </div>
                                                <div style="display: flex; justify-content: flex-end; width:80%"; float:right;>
                                                    <input type="button" class="adduserbutton formbutton add_field_button" name="{{ this.username }}" value="Add" style="margin-top:0">
                                                </div>
                                            </div>
                                        {{/each}}
                                        {{else}}
                                            <p style="text-align:left;"><a href="/users">Add a friend!</a></p>
                                        {{/if}}
                                        <br>
                                    <h4 class="pagetitles">Other Users</h4>
                                        {{#if userlist}}
                                        {{#each userlist}}
                                            <div class="meetup" style="display:flex; align-items:center;margin-bottom:1px;">
                                                <div style="display:flex; align-items:center;width:20%">
                                                    <div class="thumbnail">
                                                        <a href="profile/{{this.id}}/">
                                                        {{#if this.profilepic}}
                                                            <img src="/uploads/{{ this.profilepic }}" class="responsive-img">
                                                        {{else}}
                                                            <img src="/css/empty-photo.jpg" class="responsive-img">
                                                        {{/if}}
                                                        </a>
                                                    </div>
                                                    <a href="/profile/{{this.id}}/">{{name}}</a>
                                                </div>
                                                <div style="display: flex; justify-content: flex-end; width:80%"; float:right;>
                                                    <input type="button" class="adduserbutton formbutton add_field_button" name="{{ this.username }}" value="Add" style="margin-top:0">
                                                </div>
                                            </div>
                                        {{/each}}
                                        {{else}}
                                            <p style="text-align:left;">No users to display.</p>
                                        {{/if}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    </div><br>
	               <div class="input_fields_wrap"></div>
	               <label>Type</label>
		              <select id="selectbox" class="form-control" name="type">
			             <option value="Catch-up">Catch-up</option>
			             <option value="Study Date">Study Date</option>
			             <option value="Business Meeting">Business Meeting</option>
			             <option value="Club Meeting">Club Meeting</option>
			             <option value="Party">Party</option>
			             <option value="Other">Other</option>
		              </select>
	               <div class="datecontainer">
			         <label>Start Date</label>
                        <div class='input-group date' id='datetimepicker1'>
                        <input type='text' name="startdate" class="form-control" value="{{date}}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    <label>End Date</label>
                        <div class='input-group date' id='datetimepicker2'>
                        <input type='text' name="enddate" class="form-control"  value="{{date}}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
	               </div>
	               <label>Location</label>
	                   <input id="locationTextField" class="form-control" type="text" name="location">
	               <label>Description</label>
	                   <textarea id="notesbox" class="form-control" style="overflow-x:hidden" name="notes" placeholder="Description"></textarea>
	               <input class="formbutton" type="submit"></p>
            </form>
        </div>
    <br>
</div>
</body>




<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });
    var input = document.getElementById('locationTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
<{{!}}/script>

<script type="text/javascript" language="javascript">

    $(document).ready(function() {
    var max_fields      = 100; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    var x = 0;
    var adduserselection = document.getElementsByClassName('adduserbutton');
    for (var i = 0; i < adduserselection.length; i++) {
        adduserselection[i].addEventListener('click', function(e){
            e.preventDefault();
            if(x < max_fields){ //max input box allowed
            x++; //text box increment
            var username = $(this).attr('name');
            //$(wrapper).append('<div><input type="text" name="participants" value=username class="form-control"/><a href="#" class="remove_field" style="text-decoration:none; color:white;">REMOVE</a></div>'); //add input box

            $(wrapper).append('<div><input type="text" name="participants" value=' + username + ' class="form-control"/><a href="#" class="remove_field" style="text-decoration:none; color:white;">REMOVE</a></div>'); //add input box
        }

        });
    }
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
<{{!}}/script>