<head>
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/lightbox.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"><{{!}}/script>
<script src="/js/lightbox.js"><{{!}}/script>
</head>

<body>
<div class="animate-in">
<h1 class="pagetitles">Gallery</h1><hr>

<div class="gallery">
    {{#each meetups}}
      {{#if this.img}} 
        {{#each this.img}}
          <div class="galleryimg" style="float:left;">
            <a href="/uploads/{{ this}}" data-lightbox="galleryimages" data-title="{{../this.startdate}}: {{../this.meetupName}}">
	           <img src="/uploads/{{ this }}" class="responsive-img hover-opacity" value="{{this.startdate}}: {{this.meetupName}}" style="float: left; cursor:pointer" name="added_imgs">
            </a> 
          </div>
        {{/each}}
    {{/if}}
	{{/each}}
  </div>
</div>

<div id="modal01" class="modal" onclick="this.style.display='none'">
  <div class="modal-content animate-opacity">
    <img id="img01" style="max-width:100w; width:auto; max-height:100vh; height:auto">
  </div>
</div>
</body>

<script>
lightbox.option({
    'showImageNumberLabel': false,
    'resizeDuration': 0,
    'imageFadeDuration': 200,
    'fadeDuration': 300,
    'wraparound': true
});
<{{!}}/script>





