
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><{{!}}/script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"><{{!}}/script>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>


<h4>{{userview.name}} ({{userview.username}})</h4>

{{#if friends}}
	<p>
	{{#if meetups}}
		<ul class="collapsible" data-collapsible="accordion">
			{{#each meetups}}
					<div class="thumbnail">
					{{#if this.img}}
						<img src="/uploads/{{ this.img }}" class="responsive-img">
					{{else}}
						<img src="/css/empty-photo.jpg" class="responsive-img">
					{{/if}}
					</div>

					<li>
						<div class="collapsible-header">{{this.startdate}} - {{this.meetupName}}</div>
						<div class="collapsible-body"><span>
							<p>Creator: {{this.creator}}</p>
							<p>Participants: {{this.participants}}</p>
							<p>Date: {{this.startdate}} - {{this.enddate}}</p>




						</span></div>
					</li>
				<br>
			{{/each}}
		</ul>
	{{else}}
	<p> No meetups to show. <a href="/createmeetup">Create a meetup</a> with {{userview.name}}!</p>
	{{/if}}
	</p>
{{else}}
	<p> You aren't friends with {{userview.name}}. <a href={{requestlink}}>Add {{userview.name}}</a> as a friend to see more! </p>

	{{/if}}
</body>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
<{{!}}/script>