
{{#if edit}}
<html>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&language=en&key=AIzaSyB4Ztm5h7pIWU2NmEqbwJbjsWfIZebzN1I"><{{!}}/script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!--datetimepicker-->
<script src="https://code.jquery.com/jquery-1.12.4.js"><{{!}}/script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"><{{!}}/script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><{{!}}/script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"><{{!}}/script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"><{{!}}/script>
<script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"><{{!}}/script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
<link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
<link rel="stylesheet" href="/css/style.css" />



<h1>Edit Meetup</h1>
</body>
<div class="form">
  <form method="post" action="/update/{{meetups.id}}"  enctype="multipart/form-data" >
  <p>Meetup<br>
  <input class="form-control" type="text" name="updated_meetupName" value="{{meetups.meetupName}}"></p>

  <p>Participants<br>
<div class="input_fields_wrap">
    <button class="add_field_button">Add</button>
    <p>
  {{#each meetups.participants}}
      <div><input type="text" name="updated_participants" value="{{this}}"  class="form-control"><a href="#" class="remove_field">Remove</a></div>
  {{else}} 
    <div><input type="text" name="updated_participants" class="form-control" placeholder="Enter a username"></div>

    {{/each}}
    </p>
  </div>
  <br>
  <p>Type<br>
    <select id="selectbox" class="form-control" name="updated_type" value="{{meetups.type}}">
      <option value="Catch-up">Catch-up</option>
      <option value="Study Date">Study Date</option>
      <option value="Business Meeting">Business Meeting</option>
      <option value="Club Meeting">Club Meeting</option>
      <option value="Party">Party</option>
      <option value="Other">Other</option>
    </select>
  </p>
  
  <div class="datecontainer">
      Start Date
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' name="updated_startdate" class="form-control" value="{{meetups.startdate}}" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            End Date
            <div class='input-group date' id='datetimepicker2'>
                <input type='text' name="updated_enddate" class="form-control" value="{{meetups.enddate}}" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
  </div>

  <p>Location<br>
  <input class="form-control" id="locationTextField" type="text" name="updated_location" value="{{meetups.location}}"></p>
  <p>Description<br>
  <textarea id="notesbox" class="form-control"style="overflow-x:hidden" name="updated_notes">{{meetups.notes}}</textarea></p>
  <br>

  <p>Add/Change Images<br>
  <input type="file" name="imgUploader" accept="image/*" value="/uploads/{{ meetups.img }}">
  </p>
  <p><input type="submit" name="edit" value="Edit"></p>

</form>
<div>
</body>
 
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });
     var input = document.getElementById('locationTextField');
              var autocomplete = new google.maps.places.Autocomplete(input);
<{{!}}/script>

<script>
(function ($) {
    $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
    
    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $(wrapper).append('<div><input type="text" name="updated_participants" class="form-control"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
        }
    });
    
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
var typevalue = document.getElementById("selectbox").value;
$(function(){
      document.getElementById("selectbox").value = typevalue;
  });
})(jQuery);
<{{!}}/script>
</html>



{{else}}

<html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"><{{!}}/script>
<body>
<h2 class="page-header">{{meetups.meetupName}}</h2>
<h6><a href="#directions">Get Directions</a></h6><br>

<div class="details">
{{#if meetups.img}}
<p>
<img src="/uploads/{{ meetups.img }}" class="responsive-img viewimg" name="added_imgs" style="max-width:600px;border-radius:3px;">
</p><br>
{{/if}}

<table>
  <tr>
    <td class="category">Creator</td>
    <td>{{meetups.creator}}</td>
  </tr>
  <tr>
    <td class="category">Type</td>
    <td>{{meetups.type}}</td>
  </tr>
  <tr>
    <td class="category">Participants</td>
    <td>
    {{#each meetups.participants}}
    {{ this }}<br>
    {{/each}}
  </tr>
  <tr>
    <td class="category">Date</td>
    <td>{{meetups.startdate}}-{{meetups.enddate}}</td>
  </tr>
  <tr>
    <td class="category">Location</td>
    <td>{{meetups.location}}</td>
  </tr>
  <tr>
    <td class="category">Description</td>
    <td>{{meetups.notes}}</td>
  </tr>
</table>
<br>
<a href="/edit/{{meetupid}}/" class="button">Edit Details</a></p>
</div>

<div class="directions">
<p></p>
<p><b>Directions</b></p>

<a id="directions"></a>
<p>
<input id="origin-input" class="controls" type="text"
    placeholder="Enter an origin location">

<input id="destination-input" class="controls" type="text"
    value="{{meetups.location}}">

<div id="mode-selector" class="controls">
  <input type="radio" name="type" id="changemode-walking" checked="checked">
  <label for="changemode-walking">Walking</label>

  <input type="radio" name="type" id="changemode-transit">
  <label for="changemode-transit">Transit</label>

  <input type="radio" name="type" id="changemode-driving">
  <label for="changemode-driving">Driving</label>
</div>

<div id="map"></div>
</p>
</div>
</body>

<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    mapTypeControl: false,
    center: {lat: -33.8688, lng: 151.2195},
    zoom: 13
  });

  new AutocompleteDirectionsHandler(map);
}

function AutocompleteDirectionsHandler(map) {
  this.map = map;
  this.originPlaceId = null;
  this.destinationPlaceId = null;
  this.travelMode = 'WALKING';
  var originInput = document.getElementById('origin-input');
  var destinationInput = document.getElementById('destination-input');
  var modeSelector = document.getElementById('mode-selector');
  this.directionsService = new google.maps.DirectionsService;
  this.directionsDisplay = new google.maps.DirectionsRenderer;
  this.directionsDisplay.setMap(map);

  var originAutocomplete = new google.maps.places.Autocomplete(
      originInput, {placeIdOnly: true});
  var destinationAutocomplete = new google.maps.places.Autocomplete(
      destinationInput, {placeIdOnly: true});

  this.setupClickListener('changemode-walking', 'WALKING');
  this.setupClickListener('changemode-transit', 'TRANSIT');
  this.setupClickListener('changemode-driving', 'DRIVING');

  this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
  this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

  this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
  this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(destinationInput);
  this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
}


AutocompleteDirectionsHandler.prototype.setupClickListener = function(id, mode) {
  var radioButton = document.getElementById(id);
  var me = this;
  radioButton.addEventListener('click', function() {
    me.travelMode = mode;
    me.route();
  });
};

AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(autocomplete, mode) {
  var me = this;
  autocomplete.bindTo('bounds', this.map);
  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();
    if (!place.place_id) {
      window.alert("Please select an option from the dropdown list.");
      return;
    }
    if (mode === 'ORIG') {
      me.originPlaceId = place.place_id;
    } else {
      me.destinationPlaceId = place.place_id;
    }
    me.route();
  });

};

AutocompleteDirectionsHandler.prototype.route = function() {
  if (!this.originPlaceId || !this.destinationPlaceId) {
    return;
  }
  var me = this;

  this.directionsService.route({
    origin: {'placeId': this.originPlaceId},
    destination: {'placeId': this.destinationPlaceId},
    travelMode: this.travelMode
  }, function(response, status) {
    if (status === 'OK') {
      me.directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
};
<{{!}}/script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8c9TBBH4Y94cLVBNBKBVUCOAMAHNRVoA&libraries=places&callback=initMap"
        async defer><{{!}}/script>



<script>
$(document).ready(function(){
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });
});
<{{!}}/script>
</html>
{{/if}}
